{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify admin_urls %}
{% load url from future %}
{% block object-tools-items %}
	{{ block.super }}
	{% if has_publish_permission %}
		{% if publish_btn_live %}
			<li>
				<a href="{{ publish_btn_live }}">{% trans 'Publish Draft' %}</a>
			</li>
		{% endif %}
		{% if unpublish_btn %}
			<li>
				<a href="{{ unpublish_btn }}">{% trans 'Unpublish' %}</a>
			</li>
		{% endif %}
		{% if revert_btn %}
			<li>
				<a href="{{ revert_btn }}">{% trans 'Revert to Published' %}</a>
			</li>
		{% endif %}
		{% if preview_draft_btn %}
			<li>
				<a href="{{ original.get_absolute_url }}?draft">{% trans 'Preview Draft' %}</a>
			</li>
		{% endif %}
	{% endif %}
{% endblock %}
